<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Contents/StyleSheet1.css" rel="stylesheet" />
    <script src="~/Contents/JavaScript.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
        @RenderBody()
    </div>
</body>
</html>
